@model MvcProject.Models.Entity.Products
@{
    ViewBag.Title = "GetProduct";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Update", "Product", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(m => m.ProductID)
    @Html.TextBoxFor(m => m.ProductID, new { @class = "form-control" })

    <br />

    @Html.LabelFor(m => m.ProductName)
    @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })

    <br />

    @Html.LabelFor(m => m.ProductCategory)
    @Html.DropDownListFor(m => m.Categories.CategoryID, (List<SelectListItem>)ViewBag.value, new { @class = "form-control" })

    <br />

    @Html.LabelFor(m => m.Marka)
    @Html.TextBoxFor(m => m.Marka, new { @class = "form-control" })

    <br />

    @Html.LabelFor(m => m.Price)
    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })

    <br />

    @Html.LabelFor(m => m.Stok)
    @Html.TextBoxFor(m => m.Stok, new { @class = "form-control" })
</div>
    <div>
        <button class="btn btn-success">Update Product</button>
    </div>
}
